.lola {
    background-color: #036;
}

.flat {
    background-color: #a9a9a9;
}

.very_poor {
    background-color: #42A5FC;
}

.poor {
    background-color: #42A5FC;
}

.poor_to_fair {
    background-color: #42A5FC;
    color: white;
}

.fair {
    background-color: #23D737;
    color: white;
}

.fair_to_good {
    background-color: #23D737;
}

.good {
    background-color: #FFBE00;
}

.very_good {
    background-color: #FFBE00;
}

.good_to_epic {
    background-color: #FFBE00;
}

.epic {
    background-color: red;
}





/* .table-striped > tbody > tr:nth-child(n) > td.lola { */
/*   background-color:#036; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.flat { */
/*   background-color:#a9a9a9; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.very_poor { */
/*   background-color:#42A5FC; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.poor { */
/*   background-color:#42A5FC; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.poor_to_fair { */
/*   background-color:#42A5FC; */
/*   /1* color: #42A5FC; *1/ */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.fair { */
/*   background-color:#23D737; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.fair_to_good { */
/*   background-color:#23D737; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.good { */
/*   background-color:#FFBE00; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.very_good { */
/*   background-color:#FFBE00; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.good_to_epic { */
/*   background-color:#FFBE00; */
/*   color: white; */
/* } */

/* .table-striped > tbody > tr:nth-child(n) > td.epic { */
/*   background-color:red; */
/*   color: white; */
/* } */
