.lola {
    background-color: #036;
    color: white;
}

.flat {
    background-color: #a9a9a9;
    color: white;
}

.very_poor {
    background-image: linear-gradient(to right, #a9a9a9 0%, #42A5FC 100%);
    background-color: #42A5FC;
    color: white;
}

.poor {
    background-color: #42A5FC;
    color: white;
}

.poor_to_fair {
    background-color: #42A5FC;
    background-image: linear-gradient(to right, #42A5FC 0%, #23D737 100%);
    color: white;
}

.fair {
    background-color: #23D737;
    color: white;
}

.fair_to_good {
    background-color: #23D737;
    background-image: linear-gradient(to right, #23D737 0%, #FFBE00 100%);
    color: white;
}

.good {
    background-color: #FFBE00;
    color: white;
}

.very_good {
    background-color: #FFBE00;
    background-image: linear-gradient(to right, #FFBE00 0%, #ff7700 100%);
    color: white;
}

.good_to_epic {
    background-color: #ff7700;
    background-image: linear-gradient(to right, #ff7700 0%, #ff7700 100%);
    color: white;
}

.epic {
    background-color: red;
    color: white;
}

/* Font Azwesome icon for cllapse */
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}